body {
  font-family: Roboto, sans-serif;
  background-color: red;
}
#card-data {
  width: 300px;
  margin: 10px auto;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 10px;
}
#pan-div,
#expiry-div,
#cvv-div {
  display: flex;
}
#pan-p,
#expiry-p,
#cvv-p {
  font-weight: bold;
}
span {
  font-weight: normal;
}
#pan-div {
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  margin: 123px;
}
i {
  border: none;
  cursor: pointer;
  color: black;
}
i:hover {
  background-color: #D3D3D3;
  border-radius: 5px;
}
